
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.footer {
    background-color: #282828;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}

.footer .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
    font-size: 14px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffd700;
}

.footer-bottom {
    border-top: 1px solid #555;
    padding-top: 10px;
}
